<h1><%= link_to(@project.name, projects_path) %></h1>
<ul>
<% @entries.each do |entry| %>
<li>
<%= entry.hours %> h
<%= entry.minutes %> m-
<%= entry.date %>
<%=link_to('delete', project_entry_path(@project, entry), method: :delete, data: { confirm: 'Are you sure?' }) %>
</li>
<% end %>
</ul>
<%= link_to('Add Time', new_project_entry_path) %>
<%= @hours %> total hours worked

